@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}



div.interface{
    max-width: 1200px;
    margin: 0 auto;
    
}

/*estilo do header*/

header{
    width: 100%;
    padding: 40px 0;
}

header div.interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 header .logo img{
    max-width: 40px;
}

header .menu-desktop nav ul{
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: .2s;
}

 .menu-desktop nav a:hover{
    transform: scale(1.05);
}

header .btn-contato button{
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover{
    background-color: white;
    color: black;
}